.reset-password-card {
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.reset-password-card mat-card-title {
  color: #2e2e2e;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.full-width {
  width: 100%;
  margin-bottom: 20px;
}
.reset-password-card .mat-form-field-label {
  color: #ffffff;
}
.reset-password-card .mat-input-element {
  color: #ffffff;
}
.reset-password-button {
  background-color: #4caf50;
  color: #ffffff;
}
