.change-password-card {
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 20px;
}
.change-password-card mat-card-title {
  color: #ffffff;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.full-width {
  width: 100%;
  margin-bottom: 20px;
}
.change-password-card .mat-form-field-label {
  color: #ffffff;
}
.change-password-card .mat-input-element {
  color: #ffffff;
}
.change-password-card .change-password-button {
  background-color: #4caf50;
  color: #ffffff;
}
body {
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
