.register-card {
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;


}

.register-card mat-card-title {
  color: #ffffff;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
  margin-bottom: 20px;
}

.register-card .mat-form-field-label {
  color: #ffffff;
}

.register-card .mat-input-element {
  color: #ffffff;
}

.register-card .register-button {
  background-color: #4caf50;
  color: #ffffff;
}
